<h1>Goodbye</h1>
<p>
	It was nice having you here.
</p>
<p>
	Addition: <%= 1 + 2 %><br>
	Concatenation: <%= 'cow' + 'boy' %> <br>
	Time in one hour: <%= 1.hour.from_now %>
	
	Update from Github Browser
</p>
<p>
	<!-- Say <a href="/say/hello"></a> -->
	It's time to say 
	<%= link_to "Hello", say_hello_path %>
</p>

